name: Test - Nightly
# does a massive check, every night

on:
  schedule:
    - cron: "3 24 * * *"

  # creates a button
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug

jobs:

  test_on_windows:
    runs-on: [self-hosted, Windows, X64]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.9
            3.10
            3.11
            3.12
      - name: Run Tests
        run: |
          pip install -e .[all]
          python -m pytest

